@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display&family=Playfair+Display+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
}

/* ESTILIZAÇÃO DA HEADER */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgmenu{
    display: flex;
    justify-content: flex-start;
}

.imgheader{
    margin-right: 8rem;
}

img{
    width: 55px;
}

/* rotação da primeira e segunda barra */   
.menuAnimated{
    display: inline-block;
    cursor: pointer;
    background-color: #9767A9;
    width: 2.5rem;
    height: 2.5rem;
}
.bar1, .bar2, .bar3{
    width: 1rem;
    height: 0.1rem;
    background-color: #fff;
    margin: 0.2rem 0rem 0rem 0.7rem;
    transition: 0.3s;
}
/* rotação da primeira e segunda barra */
.change .bar1{
    transform: translate(0, 0.35rem) rotate(-45deg);
}
/* escondendo segunda barrinha */
.change .bar2{
    opacity: 0;
}
/* rotação da primeira e segunda barra */
.change .bar3{
    transform: translate(0, -0.25rem) rotate(45deg);
}
.change .bar1, .change .bar3{
    width: 1rem;
    height: 0.1rem;
    margin-left: 0.6rem;
}
/* mudança de menu para button. Criando um menu flutuante */
button{
    border: none;
}
/* FORMATAÇÃO DO MENU FLUTUANTE */
.menuFly{
    position: relative;
    display: inline-block;
}
.newTab{
    position: absolute;
    display: none;
    background-color: #9767A9;
    min-width: 4rem;
    top: 40px;
}

.newTab a{
    color: #fff;
    padding: 0.5rem;
    text-decoration: none;
    display: block;
}

.show{
    display: block;
}

.change .menuFly{
    display: flex;
}

/* ESTILIZAÇÃO DO MAIN */
main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto; 
}

.apresentacao{

    background-image: url(./imagens/mobile/cabeludo_mob.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.divTitle{
    margin-left: 2rem;
    padding-top: 3.5rem;
}

h1{
    width: 45%;
    font-size: 2.2rem;
    font-family: 'Playfair Display, Black Roman';
    color: #FFF;
    margin-bottom: 0.5rem;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #FFF;
}

#divText, #divText2, #divText3, #divText4, #divText5{
    margin-top: 8rem;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #9767A9;
    color: #FFF;
    position: relative;
}

#divText2, #divText4{
    margin-top: 12rem;
}

#divText3{
    margin-top: 16rem;
}


#divText5{
    margin-top: 14.5rem;
}


#divText4 p, #divText4 h2{
    margin-bottom: 0;
}

h2{
    font-family: 'Playfair Display, Black Roman';
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

p{
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
}

.meninasPrincesas, .maju, .praia, .rainha, .maeFilha, .lavando, .platinada{
    position: relative;
}

.meninasPrincesas::before {
    content: "";
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    left: 1rem;
    background-image: url(./imagens/mobile/meninas_princesas_foto_mob.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.maju::before{
    content: "";
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    left: 1rem;
    background-image: url(./imagens/mobile/maju_foto_mob.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.praia::before{
    content: "";
    position: absolute;
    top: 0rem;
    right: 1rem;
    bottom: 0;
    left: 1rem;
    background-image: url(./imagens/mobile/cabeludopraia_mob.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.rainha::before{
    content: "";
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    bottom: 0;
    left: 1rem;
    background-image: url(./imagens/mobile/rainha_foto_mob.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.maeFilha::before{
    content: "";
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    bottom: 0;
    left: 1rem;
    background-image: url(./imagens/mobile/mae_filha_mob.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.lavando::before{
    content: "";
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    bottom: 0;
    left: 1rem;
    background-image: url(./imagens/mobile/lavando_foto_mob.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.platinada::before{
    content: "";
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    bottom: 0;
    left: 1rem;
    background-image: url(./imagens/mobile/platinada_mob.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}