@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display&family=Playfair+Display+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
}
/* ESTILIZAÇÃO DA HEADER */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imgmenu{
    display: flex;
    justify-content: flex-start;
}
.imgheader{
    margin-right: 8rem;
}
img{
    width: 55px;
}
/* rotação da primeira e segunda barra */   
.menuAnimated{
    display: inline-block;
    cursor: pointer;
    background-color: #9368A6;
    width: 2.5rem;
    height: 2.5rem;
}
.bar1, .bar2, .bar3{
    width: 1rem;
    height: 0.1rem;
    background-color: #fff;
    margin: 0.2rem 0rem 0rem 0.7rem;
    transition: 0.3s;
}
/* rotação da primeira e segunda barra */
.change .bar1{
    transform: translate(0, 0.35rem) rotate(-45deg);
}
/* escondendo segunda barrinha */
.change .bar2{
    opacity: 0;
}
/* rotação da primeira e segunda barra */
.change .bar3{
    transform: translate(0, -0.25rem) rotate(45deg);
}
.change .bar1, .change .bar3{
    width: 1rem;
    height: 0.1rem;
    margin-left: 0.6rem;
}
/* mudança de menu para button. Criando um menu flutuante */
button{
    border: none;
}
/* FORMATAÇÃO DO MENU FLUTUANTE */
.menuFly{
    position: relative;
    display: inline-block;
}
.newTab{
    position: absolute;
    display: none;
    background-color: #9368A6;
    min-width: 4rem;
    top: 40px;
}
.newTab a{
    color: #fff;
    padding: 0.5rem;
    text-decoration: none;
    display: block;
}
/* .menuFly:hover .newTab{
    display: block;
} */
.show{
    display: block;
}
.change .menuFly{
    display: flex;
}

/* ESTILIZAÇÃO DO MAIN */

.cabeludo{
    height: 48vh;
    background-image: url(./imagens/mobile/cabeludo_mob.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.divCabeludo{
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff;
    margin-left: 2rem;
}

.divCabeludo h1{
    font-family: 'Playfair Display', serif;
    width: 80%;
    margin-top: 2.1rem;
    font-size: 2.5rem;
}

.divCabeludo h4{
    font-family: 'Montserrat', sans-serif;
    margin-top: 1.5rem;
    width: 60%;
    font-size: 1rem;
    font-weight: 100;
    
}

/* h1{
    
}

h4{

} */